/* IMPORT *************************************/
@import url(https://fonts.googleapis.com/css?family=Chakra+Petch:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


/* VARIABLES *************************************/
:root{
    --error-color : #dc3545;
    --main-color : #bb2d3b;
}


* {
    font-family: Roboto, arial;
}
nav li {
    cursor: pointer;
}

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 15rem;
}

.card_news {
    width: 90%;
    max-width: 1000px;
}

#listEquipes,
.source,
#container_teams,
#container_news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container_news {
    flex-flow: column wrap;
}

#container_teams {
    flex-flow: row wrap;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    text-decoration: overline var(--main-color);
}

nav, h1 {
    font-weight: 800;
    font-family: Chakra Petch;
}

.active a {
    color: var(--main-color);
}

.source {
    margin-bottom: 0;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

#listEquipes {
    border-left: solid 1px black;
}

div.onglet {
    display: none;
}

div.show {
    display: flex;
}
#results,
#home,
#teams {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-form{
    border: 1px solid var(--error-color);
    border-radius: 7px;
}

.footer {
    margin-top: 75px;

}

.footer a {
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.navbar-brand img:hover {
    transform: rotate(340deg);
    transition: .5s;
}

.navbar-brand img {
    transition: .5s;
}

textarea {
    max-height: 500px;
    height: 180px;
}

.error_msg {
    display: none;
    color: var(--error-color);
}